################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/v14/.suo
*.dg
/WebApp/src/WebApp/wwwroot
/WebApp/src/WebApp/Service References/Application Insights
/WebApp/src/WebApp/node_modules
/WebApp/src/WebApp/typings
