################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/v14/.suo
*.dg
/WebApp/src/WebApp/wwwroot
/WebApp/src/WebApp/Service References/Application Insights
/WebApp/src/WebApp/node_modules
/WebApp/src/WebApp/typings
/WebApp/src/WebApp/bin/Debug/netcoreapp1.0
/WebApp/src/WebApp/obj/Debug/netcoreapp1.0
/WebApp/.vs/config
